<!DOCTYPE HTML>
<html ng-app="blackjack">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-grid/2.0.11/ng-grid.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cantata+One|Prata">
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>

  <body ng-controller="mainCtrl">

    <header class="title">
      <img class="card-image" src="images/2-card-21.png" alt="blackjack" />
      <h1>Blackjack</h1>
      <img class="card-image" src="images/2-card-21.png" alt="blackjack" />
    </header>

    <div class="container">
      <div class="deck-info">
        <ul class="cards">
          <li class="card" ng-repeat="card in deck.cards">
            <img ng-src="{{ card.image }}" alt="{{ card.value }} of {{ card.suit }}">
          </li>
        </ul>
        <button ng-click="getDeck()">New Game</button>
        <button ng-click="draw()">Draw a card</button>
        <h3>Total Points: {{ deck.points <= 20 ? deck.points : deck.points <= 21 ? "You win! | " + deck.points : !deck.points ? "0 | Start a new game" : "You lose! | " + deck.points }}</h3>
        <h5>Remaining cards in deck: {{ deck.remaining }}</h5>
      </div>
      <h5 class="my-site">Go back to <a href="http://www.jasonrsanders.com">jasonrsanders.com</a></h5>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-grid/2.0.11/ng-grid.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/mainCtrl.js"></script>
    <script src="js/blackjackService.js"></script>
  </body>
</html>
